body {
  margin: 0;
  font-family: "Heebo";
  background-color: rgb(15, 16, 17);
}

header {
  margin: 0;
  background-color: rgb(45, 51, 54);
  color: white;
  height: fit-content;
}

header h1 {
  margin: 0;
  margin-left: 30px;
  padding: 5px;
  display: inline-block;
}

header h2 {
  font-size: 0.9em;
  display: inline-block;
  padding-left: 10px;
}

.heading {
  background-color: rgb(218, 218, 140);
}

.heading h4 {
  margin: 0;
  padding: 20px;
}

/** item classes **/
.panel {
  display: inline-block;
  background-color: rgb(65, 71, 74);
  padding: 10px;
  border-radius: 10px;
  margin: 30px 300px;
}

.timePanel {
  width: fit-content;
  height: fit-content;
  font-size: 1.7em;
  color: white;
}

.newsItem {
  display: block;
  height: 70px;
}
.articleImage {
  float: left;
  height: inherit;
  display: block;
  margin-right: 20px;
  width: 150px;
  object-fit: contain;
  border: 0;
}

a {
  text-decoration: none;
}

.newsItem h3 {
  display: block;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  padding-left: 20px;
  margin: 0 0 10px 5px;
}

.newsItem h4 {
  display: inline-block;
  color: white;
  margin: 0;
  padding-top: 3px;
}

.newsSource {
  float: left;
  height: 28px !important;
}

.loadingBar {
  width: calc(100% - 100px);
  margin: 50px;
  height: 10px;
  background-color: rgb(37, 33, 37);
}

.throbber {
  background-color: white;
  width: 20%;
  height: 10px;
  animation: throbber infinite 1.5s;
}

@keyframes throbber {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 80%;
  }
  100% {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 0.6em;
  }

  .newsItem {
    height: 80px;
    width: calc(100% - 30px);
  }

  .panel {
    margin: 5px;
  }

  header h1 {
    margin: 0;
  }

  .articleImage {
    width: 75px;
  }
}
