.kioskContainer {
    padding: var(--padding-l)   ;
    overflow: hidden;
}

.kioskHeader .widgetEnabled {
    background-color: transparent !important;
    color: white !important;
}

.kioskHeader .hamburger {
    display: none;
}

.kioskContainer img {
    width: 24vw;
    object-fit: cover;
    height: 40vh;
    display: block;
    float: left;
    border-radius: var(--radius-l);
}

.newsItemHighlight {
    text-decoration: underline;
}

.kioskNewsContainer {
    background-color: var(--base-color-darker);
    background-color: var(--base-color);
    border-radius: var(--radius-m);
    padding: var(--padding-l);
    height: 40vh;   
}

.kioskNewsContainer h2 {
    padding-left: var(--padding-l);
    float: right;
    margin: var(--margin-m);
    font-size: 1.5em;
    width: calc(100% - 24vw - 100px);
}
@keyframes ticker {
    0% {
      transform: translate3d(20%, 0, 0);
      visibility: visible;
      opacity: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }

.tickerContainer {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    height: 80px;
    background-color: var(--base-color-lighter);
    width: 100vw; 
}

.ticker {
    animation: ticker infinite linear;
    height: 80px;
}

.tickerItem {
    display: inline;
    font-size: 1.5em;
    color: white;
    padding: 0 20px; 
    line-height: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}